body {
	background-color:#666;
	perspective: 1200px;
	/* transform-style: preserve-3d; */
}

.invisHolder {
	transform:rotateX(45deg);
	transform-style: preserve-3d;
}

.button {
	margin-top: 8px;
	width:50%;
	height:33%;
}

.buttonholder {
	width:900px;
	height:60px;
	text-align:center;
	position:fixed;
	margin:200px 250px 200px 250px;
}

.cubeholder {
	width:600px;
	height:600px;
	/* background-color:gray; */
	position: relative;
	margin:-200px auto;
	transform: rotateZ(45deg) translateZ(-100px);
	transform-style: preserve-3d;
}

.cubefaceL, .cubefaceU, .cubefaceR, .cubefaceF, .cubefaceB, .cubefaceD {
	width:150px;
	height:150px;
	position: relative;
	transform-style: preserve-3d;
}

.cubefaceF {
	transform:translateX(225px) translateY(75px) rotateX(-90deg) translateZ(75px);
	background:blue;
	transform-style: preserve-3d;
}

.cubefaceU {
	transform:translateX(225px) translateY(225px) translateZ(75px);
	background:yellow;
}

.cubefaceR {
	transform:translateX(225px) translateY(-75px) rotateX(-90deg) rotateY(90deg) translateZ(75px);
	background:red;
	transform-style: preserve-3d;
}

.cubefaceL {
	transform:translateX(225px) translateY(-225px) rotateX(-90deg) rotateY(-90deg) translateZ(175px);
	background:orange;
	transform-style: preserve-3d;
}

.cubefaceB {
	transform:translateX(225px) translateY(-225px) rotateX(-90deg) translateZ(-325px) rotateY(180deg);
	background:green;
	transform-style: preserve-3d;
}

.cubefaceD {
	transform:translateX(225px) translateY(-525px) translateZ(-175px);
	background:white;
}

#topY0, #topY1, #topY2, #topY3, #topY4, #topY5, #topY6, #topY7, #topY8,
#leftO0, #leftO1, #leftO2, #leftO3, #leftO4, #leftO5, #leftO6, #leftO7, #leftO8,
#frontB0, #frontB1, #frontB2, #frontB3, #frontB4, #frontB5, #frontB6, #frontB7, #frontB8,
#rightR0, #rightR1, #rightR2, #rightR3, #rightR4, #rightR5, #rightR6, #rightR7, #rightR8,
#backG0, #backG1, #backG2, #backG3, #backG4, #backG5, #backG6, #backG7, #backG8,
#botW0, #botW1, #botW2, #botW3, #botW4, #botW5, #botW6, #botW7, #botW8 {
	width:42px;
	height:42px;
	border:4px solid #000;
	float:left;
}

#topButtons, #leftButtons, #frontButtons, #rightButtons, #bottomButtons, #backButtons, #middleButtons {
	width:118px;
	height:58px;
	float:left;
	border:1px solid #000;
	margin:auto auto;
}

/* #topButtons, #bottomButtons {
	margin-left:120px;
	margin-right:240px;
} */

#topY0, #topY1, #topY2, #topY3, #topY4, #topY5, #topY6, #topY7, #topY8, #topButtons {
	background-color:yellow;
}

#leftO0, #leftO1, #leftO2, #leftO3, #leftO4, #leftO5, #leftO6, #leftO7, #leftO8, #leftButtons {
	background-color:orange;
}

#frontB0, #frontB1, #frontB2, #frontB3, #frontB4, #frontB5, #frontB6, #frontB7, #frontB8, #frontButtons {
	background-color:#0066ff;
}

#rightR0, #rightR1, #rightR2, #rightR3, #rightR4, #rightR5, #rightR6, #rightR7, #rightR8, #rightButtons {
	background-color:#ff3333;
}

#backG0, #backG1, #backG2, #backG3, #backG4, #backG5, #backG6, #backG7, #backG8, #backButtons {
	background-color:green;
}

#botW0, #botW1, #botW2, #botW3, #botW4, #botW5, #botW6, #botW7, #botW8, #bottomButtons {
	background-color:white;
}

#middleButtons {
	background-color:lightgray;
}
